---
import Feature from "../components/Feature.astro";
import Hero from "../components/Hero.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col">
    <Hero />
    <Social />
    <Feature />
  </div>
</Layout>
