<section class="px-6 py-8 flex flex-row flex-wrap max-w-5xl mx-auto">
  <div class="flex flex-col justify-center gap-4 w-full sm:w-1/2">
    <h1 class="font-bold text-5xl md:text-7xl">Create your dream Website.</h1>
    <span class="md:text-lg">
      All bussiness has their own dream website, let me get the oppurtunity to create your.</span
    >
    <div class="flex flex-row gap-2">
      <button class="bg-blue-600 hover:bg-blue-700 text-white p-4 py-2 text-lg rounded-md font-medium"> Start</button>
      <button class="p-4 hover:bg-blue-300/50 py-2 text-lg rounded-md font-medium"> Demo</button>
    </div>
  </div>
  <div class="sm:w-1/2 max-sm:pt-8 sm:pl-8 flex flex-col justify-center items-center">
    <div class="rounded-lg lg:w-2/3 overflow-hidden aspect-[3/2]">
      <img class="object-cover" src="//catsum.deno.dev/seed/landing-2/750/500" />
    </div>
  </div>
</section>
